---
import Container from "./Container.astro"
---
<Container>
<div class="relative flex flex-col-reverse items-center md:flex-row" id="hero">
    <div class="row items-center py-5 md:w-6/12 md:pb-20 md:pt-10">
        <div class="text-left space-y-3">
            <h1 class="text-5xl font-medium leading-none md:text-6xl">Designing your <br> business into <br> digital superstar</h1>
            <p class="mt-6 mb-8  text-xl font-normal leading-7 sm:mb-12">Growthflex Studios helps businesses grow and succeed online with comprehensive services including web development, app development, SMM, marketing, customer support, SEO, and more.</p>
            <a class="px-9 py-5 bg-zinc-900 hover:bg-white text-white hover:text-black border rounded-2xl justify-items-center md:justify-items-start gap-2.5 inline-flex" rel="noopener noreferrer"  href="https://www.instagram.com/direct/t/17843917194270134" target="_blank">
                <h2 class="text-center text-xl font-normal leading-7">Let's Talk</h2>
            </a>
        </div>
    </div>
    <div class="flex items-center py-5 md:w-6/12 md:pb-20 md:pt-10">
        <img src="/Hero.svg" width="100%" alt="Hero"/>
    </div>
</div>

<div class="logo-marquee-container overflow-hidden whitespace-nowrap py-8">
  <div class="logo-marquee inline-flex animate-scroll">
    <!-- Repeat logos to make the scroll seamless -->
    <img src="./clients/aq.png" class="h-12 mx-6" loading="lazy" alt="client logo" />
    <img src="./clients/iysf.png" class="h-12 mx-6" loading="lazy" alt="client logo" />
    <img src="./clients/lassi.png" class="h-9 mx-6" loading="lazy" alt="client logo" />
    <img src="./clients/yts.png" class="h-12 mx-6" loading="lazy" alt="client logo" />
    <img src="./clients/mtbuy.png" class="h-12 mx-6" loading="lazy" alt="client logo" />
    <img src="./clients/zir.png" class="h-14 mx-6" loading="lazy" alt="client logo" />
    <img src="./clients/5-15pm.png" class="h-14 mx-6" loading="lazy" alt="client logo" />
    <img src="./clients/barbar.png" class="h-14 mx-6" loading="lazy" alt="client logo" />
    <img src="./clients/booksy.jpeg" class="h-14 mx-6" loading="lazy" alt="client logo" />
    <img src="./clients/Group.png" class="h-14 mx-6" loading="lazy" alt="client logo" />
    <img src="./clients/m53.png" class="h-14 mx-6" loading="lazy" alt="client logo" />
    <img src="./clients/pohewala.png" class="h-14 mx-6" loading="lazy" alt="client logo" />
    <img src="./clients/wagini.png" class="h-14 mx-6" loading="lazy" alt="client logo" />
    <img src="./clients/nicks.jpg" class="h-14 mx-6" loading="lazy" alt="client logo" />
    <img src="./clients/net.png" class="h-14 mx-6" loading="lazy" alt="client logo" />
    <img src="./clients/alpher.png" class="h-12 mx-6" loading="lazy" alt="client logo" />
    <img src="./clients/technova.png" class="h-12 mx-6" loading="lazy" alt="client logo" />

      </div>
</div>
</div>
</Container>