---
import Container from "./Container.astro"
import Topic from "./Topic.astro"
---
<Container>
<div class="relative flex flex-col items-center md:flex-row">
    <Topic title="Testimonials" description="Hear from Our Satisfied Clients Stories" />
</div>

<div class="flex-row items-center my-6 p-14 bg-black text-white rounded-[45px]">
    <div class="justify-items-center relative w-full border border-lime rounded-3xl">
        <div class="p-4 md:p-10">
            <p class="items-center justify-center text-white text-sm md:text-lg font-normal mb-4">"I took services of Growthflex studios when I started out my social media account and as a social media personality we make content but we forget that if the content will reach to the right audience. That’s when services of Growthflex Studios helped me reach more people and generate more sales. From hashtags to getting promoted on right accounts , I was given guidance at every sphere which helped me grow immensely. Thankyou Samarth and it's entire team."</p>
            <span class="text-lime text-base md:text-xl font-medium">Aman Shivhare<br/></span><span class="text-white text-lg font-normal">NaughtyPizzaria</span>
        </div>
    </div>
</div>

<div class="flex-row items-center my-6 p-14 bg-black text-white rounded-[45px]">
    <div class="justify-items-center relative w-full border border-lime rounded-3xl">
        <div class="p-4 md:p-10">
            <p class="items-center justify-center text-white text-sm md:text-lg font-normal mb-4">"Transforming my vision into a dynamic education platform, GrowthFlex Studios exceeded all expectations. Their web development prowess brought 'YoursthatSenior' to life with sleek design, seamless functionality, and a user-friendly interface. Students and educators alike are raving about the site. Kudos to the team for making education engaging and accessible!"</p>
            <span class="text-lime text-base md:text-xl font-medium">Mohit Khadyan<br/></span><span class="text-white text-lg font-normal">Yoursthatsenior</span>
        </div>
    </div>
</div>
</Container>